body {
    background-image: url(../images/img/Outstanding-Road-Map-Vectors-3.jpg);
    background-color: blue;
}

body>div {
    height: 100vh;
}

form {
    width: 400px;
    background-color: white;
}

.bg-error {
    background-color: rgba(253, 115, 115, 0.116);
}

#address {
    font-style: bold;
}

@media only screen and (max-width: 500px) {
    form {
        width: 90vw;
    }
}